main { 
    padding: 60px;
  }

#map_layout {
   position: absolute;
   top:0;
   left: 0;
   margin: 0;
   padding-top: 100px; 
   width:  100%;
   height: auto;
   overflow: hidden;
   z-index: -1; /*to have the map in foreground*/
 }

/*Filtres always at the same position on the page*/
#ui {
  position: fixed;
  padding-top: 20px;
  top: 30px;
  left: 0px;
  width: 400px;
}