main { 
    padding: 60px;
  }

#map_layout {
   position: absolute;
   top:0;
   left: 0;
   margin: 0;
   padding-top: 100px; 
   width:  100%;
   height: auto;
   overflow: hidden;
   z-index: -1; /*to have the map in foreground*/
 }

/*Filtres always at the same position on the page*/
#ui {
  position: fixed;
  padding-top: 20px;
  top: 30px;
  left: 0px;
  width: 400px;
}

/*Design for users list*/
.dl-horizontal dt 
{
    white-space: normal;
    width: 150px;
}

/* For popup */
.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }