<div class="container">
	<h1>Bienvenue sur notre application Citizen </h1>
	<p class="lead">Cette application WEB permet au citoyen de reporter des problèmes rencontrés dans les rues d'une ville. L'idée est inspirée de la plateforme FixMyStreet que vous connaissez peut-être.
	<ul>
		<li>Ce site est conçu pour rapporter des problèmes sur le routes de Suisse</li>
		<li>Pour utiliser notre application citoyennes, vous devez juste créer un acompte gratuit</li>
	</ul>
  <h1>A propos de l'application Citizen</h1>
	<p class="lead">Ceci est la version 1.0 (mai 2017) de l'application WEB.</p>
	<p>Les auteurs du code sont Olivier Wenger &amp; Thierry Sémon.</p>
</div>