<main class="container">
    <div class="container">
        <h1>Welcome to our Citizen application</h1>
        <p class="lead">This web application allowing a citizen to report problems encountered in the streets of a city. This idea is inspired from the FixMyStreet platform you may know.
        <ul>
            <li>This site is for reporting problems in the roads in Switzerland</li>
            <li>Just create a free account and you will be able to use the Citizen App</li>
        </ul>
    </div>
    <div class="container">
        <h1>About Citizen application</h1>
        <p class="lead">This is the version 1.0 (May 2017) of the web application.</p>
        <p>The autheur of the code are Olivier Wenger &amp; Thierry Sémon.</p>
    </div>
</main>