<div class="container">
	<div class="row">
		<h1>Administration</h1>
		<div class="panel panel-default col-md-6" ng-if="admin.listActions.length > 0">
			<h2>Historique des actions</h2>
			<div class="list-group alert" ng-repeat="a in admin.listActions" ng-class="{'alert-warning': a.type=='start', 'alert-success': a.type=='resolve', 'alert-danger': a.type=='reject', 'alert-secondary': a.type=='new'}">
				<a ui-sref="details({ id:a.issue.id })" class="list-group-item">
					<span class="small">Etat: {{ a.type }} par {{ a.user.name }}</span>
					<p class="list-group-item-text">{{ a.reason }}</p>
				</a>
			</div>
		</div>
		<div class="panel panel-default col-md-6">
			<h2>Types d'actions</h2>
			<div class="list-group-item" ng-repeat="t in admin.issuesTypes">
				<span>{{ t.description }}</span>
				<button class="btn btn-warning pull-right btn-xs" ng-click="admin.displayIssueTypeForm(t.id)">Modifier</button>
			</div>
			<button class="btn btn-secondary btn-xs" ng-click="admin.displayIssueTypeForm()" ng-if="!(admin.addIssueForm)">Ajouter un type</button>
			<form class="from" ng-if="admin.addIssueForm">
				<div class="form-group">
					<label for="name">Nom</label>
					<input type="text" required class="form-control" id="name" ng-model="admin.newIssueType.name">
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<input type="text" required class="form-control" id="description" ng-model="admin.newIssueType.description">
				</div>
				<button class="btn btn-warning btn-xs" ng-click="admin.updateNewIssueType()" ng-if="(admin.newIssueType.id != undefined)">Modifier ce type</button>
				<button class="btn btn-success btn-xs" ng-click="admin.addNewIssueType()" ng-if="(admin.newIssueType.id == undefined)">Ajouter un type</button>
			</form>
		</div>
		<div ng-controller="IssueCtrl as issue" >
			<div class="panel panel-default col-md-6" ng-if="(issue.listIssues.length > 0)">
				<h2>Actions en cours</h2>
				<div class="list-group alert alert-success" ng-repeat="i in issue.listIssues | limitTo: admin.limit" style ="background-color:azure">
					<a class="list-group-item media" ui-sref="details({ id:i.id })" ui-sref-active="active" >
						<div  class="media-body">
							<span class="small pull-right">Dernière mise à jour: {{ i.updatedAt | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
							<span class="small">Etat: {{ i.state }} {{ i.assignee.name }}</span>
							<span class="small">par : {{ i.creator.name }}</span>
							<p class="list-group-item-text">{{ i.description }}</p>
							<button ng-if="(i.state == 'new')" class="btn btn-primary btn-warning" ng-click="issue.setStatus(i.id,'start')">Travailler</button>
							<button class="btn btn-success" ng-click="issue.setStatus(i.id,'resolve')" ng-if="(i.state == 'inProgress')">Clôturer</button>
							<button class="btn btn-secondary" ng-click="issue.setStatus(i.id,'reject')" ng-if="i.state == 'new' || i.state == 'inProgress'">Rejeter</button>
							<button class="btn btn-danger" ng-click="issue.deleteIssue(i.id)">Supprimer</button>
						</div>
						<div class="alert media-right">
							<img class="img-circle" align="right" src="{{ i.imageUrl }}" width="50" height="50" ng-if="(i.imageUrl)"/>
						</div>
					</a>
				</div>
				<button ng-click="admin.displayMore()" class="btn btn-primary">Afficher davantage</button>
			</div>
		</div>
		<div class="panel panel-default col-md-6"  ng-if="(admin.listUsers.length > 0)">
			<h2>Liste des utilisateurs</h2>
			<div class="panel panel-default" ng-repeat="u in admin.users | limitTo: admin.limit">
				<div class="panel-heading">
					<h3 class="panel-title">Détails pour {{ u.lastname }} {{ u.firstname }}</h3>
				</div>
				<div class="panel-body">
					<dl class="dl-horizontal">
					<dt>Nom de famille</dt>
					<dd>{{ u.firstname }}</dd>
					<dt>Prénom</dt>
					<dd>{{ u.lastname }}</dd>
					<dt>Identifiant</dt>
					<dd>{{ u.name }}</dd>
					<dt>Téléphone</dt>
					<dd>{{ u.phone }}</dd>
					<dt>Rôle:</dt>
					<dd ng-repeat="r in u.roles">
						{{ r }}
					</dd>
					<button class="btn btn-success" ng-click="admin.putInStaff(u.href)">Mettre en staff</button>
				</div>
			</div>
			<button ng-click="admin.displayMore()" class="btn btn-primary">Afficher davantage</button>
		</div>
	</div>
</div>