<div class="container">
    <h1>Welcome to our Citizen application</h1>
    <p class="lead">This web application allowing a citizen to report problems encountered in the streets of a city. This idea is inspired from the FixMyStreet platform you may know.
    <ul>
        <li>Mollit Lorem id dolor tempor do. Sit aliqua deserunt dolore sunt anim irure amet culpa irure est deserunt nisi quis. Excepteur incididunt est ex qui magna exercitation labore mollit qui enim consectetur. Labore duis aliqua irure sint sint nisi irure cillum.</li>
        <li>Consequat dolor esse duis quis duis nulla sint Lorem qui. Ea consequat in cupidatat incididunt dolor in sint amet Lorem. Consequat veniam ipsum minim mollit. Amet officia elit non velit excepteur cillum et incididunt nostrud duis qui duis proident. Adipisicing ut ut et elit irure ullamco ullamco officia consequat exercitation ullamco dolore pariatur. Cupidatat velit officia aliqua ut nostrud duis ea id. Ad ex aliquip dolore aute.</li>
    </ul>
</div>