<!-- My account specification -->
<div class="container">
	<span class="col-md-6">
		<h2>Mon profil ({{login.infoMe.firstname}})</h2>
		<form id="profile" name="profileForm">
			<div class="form-group">
				<label for="firstname">Prénom</label>
				<input required type="text" data-minlength="2" id="firstname" class="form-control" ng-model="login.infoMe.firstname">
			</div>
			<div class="form-group"> 
				<label for="lastname">Nom</label>
				<input required type="text" data-minlength="2" id="lastname" class="form-control" ng-model="login.infoMe.lastname">
			</div>
			<div class="form-group">
				<label for="phone">Téléphone</label>
				<input required type="text" data-minlength="6" id="phone" class="form-control" ng-model="login.infoMe.phone">
			</div>
			<button class="btn btn-info" ng-disabled="loginForm.$invalid" ng-click="login.update()">Mettre à jour</button>
		</form>
		<div class="alert alert-danger" ng-if="login.error">
		{{login.error}}
		</div>
	</span>
	<!-- My specific issues -->
	<div class="panel panel-default col-md-6" ng-if="login.myIssuesList.length > 0">
		<h2>Mes problèmes ({{login.myIssuesList.length}})</h2>
		<span class="list-group" ng-repeat="issue in login.myIssuesList">
			<a class="list-group-item" ui-sref="details({ id:issue.id })" ui-sref-active="active">
				<div class="alert media" ng-class="{'alert-warning': issue.state=='inProgress', 'alert-success': issue.state=='resolved', 'alert-danger': issue.state=='rejected', 'alert-secondary': issue.state=='new'}">
					<div class="media-body">
					 	<span class="small pull-right">Date: {{ issue.updatedAt  | date: 'dd/MM/yyyy HH:mm'}}</span>
					 	<span class="small">Etat: {{ issue.state }}</span>
					  	<p class="list-group-item-text">{{ issue.description }}</p>
					</div>
					  	<div class="alert media-right">
					  	<img class="img-circle" align="right" src="{{ issue.imageUrl }}" width="65" height="65"/>
					</div>
				</div>
			</a>
		</span>
	</div>
</div>