<!--How to use the WEB application-->
<div class="container">
	<h1>Comment utiliser l'application Citizen</h1>
	<p class="lead">Création d'un compte utilisateur</p>
	<p>Pour utiliser notre application citoyennes, vous devez juste créer un compte gratuit.</p>
	<p>Vous pouvez ensuite avoir accès à toutes les fonctionalités de l'outil.</p>
	<p class="lead">Déclaration d'un problème</p>
	<p>Pour déclarer un problème, il vous suffit de cliquer sur la map pour y placer un marqueur (il est ensite possible de le déplacer pour ajuster sa position).</p>
	<p>Lorsque le marqueur est positionné, cliquer sur celui-ci pour faire apparaître l'étiquette "Déclarer mon problème".</p>
	<p>Cliquer ensuite sur le texte de l'étiquette pour accèder au formulaire de déclaration.</p>
	<p class="lead">Formulaire de déclaration</p>
	<p>Tous les champs du formulaire doivent être remplis pour que la déclaration soit validée (exceptions des mots clés facultatifs):</p> 
	<ul>
		<li>Description: description détaillée du problème</li>
		<li>Image: URL de l'image correspondante au problème</li>
		<li>Type: selection du type de problème dans la liste déroulante</li>
		<li>Mots clés: insertion des mots clés qui permettrons la recherche efficace des problème (voir paragraphe ci-dessous: Page principale)</li>
	</ul>
	<p>Cliquer ensuite sur le bouton "Déclarer un problème" pour valider le formulaire. Après celà le problème que vous avez décrit sera automatiquement ajouté à la liste des nouveaux problèmes.</p>
	<p class="lead">Page principale</p>
	<p>La page principale de Citizen app contient tous les problèmes ainsi que leurs situations sur la map.</p>
	<p>Il est possible de filter ou des rechercher des problèmes en fonction du type de problème ou en fonction de mots clés (tag) définis lors de la déclaration.</p>    
	<p class="lead">Détails des problèmes</p>
	<p>Depuis la Page principale ou depuis Mon compte, il est possible de cliquer sur un problème pour voir les détails de celui-ci.</p>
 	<p>Le détail des problèmes permet également l'ajout de commentaires précieux à son historique.</p>
	<p>Des commentaires sur les actions sur les problèmes peuvent être ajoutés par le staff.</p>
	<p class="lead">Administration</p>
	<p>Le menu d'administartion permet de voir l'historique de vos actions ainsi que les actions en cours.</p>
	<p>La liste des utilisateurs (seulement pour le staff), en dessous des actions en cours, permet de changer un utilisateurs de type citizen en staff.</p>
	<p class="lead">Mon Compte</p>
	<p>Le menu mon compte permet de mettre à jour vos données personelles et de voir tous les problèmes que vous avez déclarés.</p>
</div>