<!-- Issue details and commentaries -->
<div class="col-md-6" style ="padding-top:35px; padding-bottom:80px;">
  <table class="table 
		table-bordered
		table-striped
		table-hover">
		<tr>
      <td>Description</td><td ng-if="issue.detail.tags.length > 0">Mots clés</td><td>Etat</td><td>Mis à jour</td><td>Créé le</td><td>Type</td>
			<td ng-if="(issue.detail.imageUrl)">Image</td>
    </tr>
    <tr>
      <td>{{ issue.detail.description }}</td>
      <td ng-if="issue.detail.tags.length > 0">
				<span class="badge" ng-repeat="tag in issue.detail.tags">{{ tag }}</span>
			</td>
			<td>{{ issue.detail.state }}</td>
      <td>{{ issue.detail.updatedAt | date: 'dd/MM/yyyy HH:mm'}}</td>
      <td>{{ issue.detail.createdAt | date: 'dd/MM/yyyy HH:mm'}} par {{ issue.detail.creator.name }}</td>
			<td>{{ issue.detail.issueType.description }}</td>
      <td ng-if="(issue.detail.imageUrl)">
					<img id="myImg" src="{{ issue.detail.imageUrl }}" alt="Trolltunga, Norway" width="100" height="100">
					<!-- The Modal -->
					<div id="myModal" class="modal">
						<!-- The Close Button -->
						<span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
						<!-- Modal Content (The Image) -->
						<img class="modal-content" id="img01">
						<!-- Modal Caption (Image Text) -->
						<div id="caption"></div>
					</div>
			</td>
    </tr>
  </table>
  <div ng-if="(issue.listComments.length > 0)">
		<h2>Commentaires</h2>
		<table class="table 
			table-bordered
			table-striped
			table-hover"
			ng-if="issue.listComments.length > 0">
			<tr>
				<td>Commentaire</td><td>Date</td>
			</tr>
			<tr class="issue" ng-repeat="comment in issue.listComments">
				<td>{{ comment.text }}</td>
				<td>{{ comment.createdAt | date: 'dd/MM/yyyy HH:mm'}} par {{ comment.author.name }}</td>
			</tr>
		</table>
	</div>
	<!-- Add comment on issues -->
  <h3>Ajouter un commentaire</h3>
  <input required type="text" data-minlength="2" id="text" class="form-control" ng-model="issue.newComment.text">
	<button class="btn btn-success" ng-click="issue.addComment(issue.detail.id)">Ajouter un commentaire</button>
  <div ng-if="issue.Actions.length > 0">
    <h2>Actions sur ce problème</h2>
		<table class="table
			table-bordered
			table-striped
			table-hover">
			<tr>
				<td>Commentaire</td><td>Date</td><td>Etat</td>
			</tr>
			<tr class="issue" ng-repeat="action in issue.Actions">
				<td>{{ action.reason }}</td>
				<td>{{ action.createdAt | date: 'dd/MM/yyyy HH:mm'}}</td>
				<td>{{ action.type }}</td>
			</tr>
		</table>
   </div>
	 <!-- Administation: staff can work on issue, resolve or reject the issue -->
   <div ng-if="issue.isStaff">
		<div ng-if="issue.detail.state == 'new' || issue.detail.state == 'inProgress'">
			<h3>Administration</h3>
			<div class="form-group">
				<label for="comment">Commentaire</label>
				<input required type="text" id="comment" class="form-control" ng-model="issue.setActionComment">
			</div>
			<button ng-if="(issue.detail.state == 'new')" class="btn btn-primary btn-warning" ng-click="issue.setStatus(issue.detail.id,'start')">Travailler</button>
			<button class="btn btn-primary btn-success" ng-click="issue.setStatus(issue.detail.id,'resolve')" ng-if="(issue.detail.state == 'inProgress')">Clôturer</button>
			<button class="btn btn-primary btn-danger" ng-click="issue.setStatus(issue.detail.id,'reject')" ng-if="issue.detail.state == 'new' || issue.detail.state == 'inProgress'">Rejeter</button>
		</div>
	</div>
</div>
<div class="col-md-6" ng-controller="MapCtrl as map" style ="padding-top:35px;">
  <leaflet width="100%" height="480px" defaults="map.defaults" lf-center="map.center" markers="map.markers"></leaflet>
</div>

<script type="text/javascript">
// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
</script>