<div id="" class="container" ng-controller="ListCtrl as s">
  <span 
      ng-dropdown-multiselect="" 
      options="s.issuesFilter" 
      selected-model="s.issuesFiltered" 
      translation-texts="s.issuesFilterTexts"
      extra-settings="s.issuesFilterSelectAllSettings">
  </span>
</div>

<div ng-if="(issue.listIssues.length > 0)">  
	<section class="panel panel-info col-md-4" style ="background-color:coral;">
		<div class="list-group alert alert-success media" ng-repeat="issue in issue.listIssues | limitTo: issue.limit">
			<a class="list-group-item" ui-sref="details({ id:issue.id })" ui-sref-active="active">
				<div class="alert media-body" ng-class="{'alert-warning': issue.state=='inProgress', 'alert-success': issue.state=='resolved', 'alert-danger': issue.state=='rejected', 'alert-secondary': issue.state=='new'}">
					<div class="media-body">
					<span class="small pull-right">Date: {{ issue.updatedAt  | date: 'dd/MM/yyyy HH:mm'}} par {{ issue.creator.name }}</span>
					<span class="small">Etat: {{ issue.state }}</span>
					<p class="list-group-item-text">{{ issue.description }}</p>
					</div>
					<div class="alert media-right">
					<img class="img-circle" src="{{ issue.imageUrl }}" width="75" height="75"/>
					</div>
				</div>
			</a>
		</div>
		<div style ="padding-bottom:30px;">
		<button ng-click="issue.displayMore()" class="btn btn-primary">Afficher davantage</button>
		</div>
	</section>
</div>

<div id="map_layout" ng-controller="MapCtrl as map">
	<leaflet width="100%" height="100vh" defaults="map.defaults" lf-center="map.center" markers="map.markers"></leaflet>
</div>
