<main class="container">
  <button class="btn btn-info" ng-click="issue.getListIssues()">Lister</button>
  <div class="row" ng-if="(issue.listIssues.length > 0) && (login.infoMe.roles == staff)">
      <section class="col-md-4">
          <div class="list-group alert alert-success" ng-repeat="issue in issue.listIssues | limitTo: 5">
          <a class="list-group-item">
              <div class="alert alert-warning">
              <span class="small pull-right">Last update: {{ issue.updatedAt }}</span>
              <h4 class="list-group-item-heading">Issue</h4>
              <p class="list-group-item-text">{{ issue.description }}</p>
              <img src="{{ issue.imageUrl }}" width="50" height="50"/>
              </div>
          </a>
          <a ui-sref="details({ id:issue.id })" ui-sref-active="active">details</a>
          </div>
      </section>
      <section class="col-md-8" ng-controller="MapCtrl as map">
        <leaflet width="100%" height="480px" defaults="map.defaults" lf-center="map.center" markers="map.markers"></leaflet>
      </section>
  </div>

  <div class="row">
    <table class="table
    table-bordered
    table-striped
    table-hover"
    ng-if="issue.listIssues.length > 0">
      <tr>
        <td>Description</td><td>State</td><td>Mis à jour</td><td>Créé le</td><td>Image</td>
      </tr>
      <tr class="issue" ng-repeat="issue in issue.listIssues">
        <td>{{ issue.description }}</td>
        <td>{{ issue.state }}</td>
        <td>{{ issue.updatedAt }}</td>
        <td>{{ issue.createdAt }}</td>
        <td><img src="{{ issue.imageUrl }}" width="100" height="100"/></td>
      </tr>
    </table>
    <h1>Déclarer une issue</h1>
    <form id="addIssue" name="issueForm">
      <div class="form-group">
        <label for="desc">Description</label>
        <textarea required type="text" id="desc" class="form-control" ng-model="issue.newIssue.description"></textarea>
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="text" class="form-control" id="image" ng-model="issue.newIssue.imageUrl">
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <input required list="type" class="form-control" ng-model="issue.newIssue.issueTypeHref">
        <datalist id="type">
          <option value="{{ type.href }}" ng-repeat="type in issue.types">{{ type.description }}</option>
        </datalist>
      </div>
      <button class="btn btn-error" ng-disabled="registerForm.$invalid" ng-click="issue.addIssue()">Déclarer un problème</button>
    </form>
    <div class="alert alert-danger" ng-if="register.error">
      {{register.error}}
    </div>
  </div>
</main>

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <button class="btn btn-default navbar-btn">Privacy &amp; Terms</button>
        <div class="navbar-right">
            <p class="navbar-text">&copy; 2017 - Olivier Wenger & Thierry Sémon</p>
        </div>
      </div>
    </nav>