<!--Privacy-->
<div class="container">
	<h1>Politique de confidentalité - application Citizen </h1>
	<p class="lead">Cette application WEB permet au citoyen de reporter des problèmes rencontrés dans les rues d'une ville. L'idée est inspirée de la plateforme FixMyStreet que vous connaissez peut-être.
	<ul>
		<li>Ce site est conçu pour rapporter des problèmes sur le routes de Suisse</li>
		<li>Pour utiliser notre application citoyennes, vous devez juste créer un acompte gratuit</li>
	</ul>
  <h1>Qui a accès a vos données d'inscription</h1>
	<p class="lead">votre adresse email</p>
	<p>If you submit a problem, we pass on your details, and details of the problem, to the council contact or contacts responsible for the area where you located the problem, or other relevant body. Other than the council, who obviously get your email address, only people we authorise to view the FixMyStreet administration interface will be able to see your email address and they will never use it for anything other than to help administer FixMyStreet. Similarly with email addresses from updates. We will never give or sell your email address to anyone else, unless we are obliged to by law. Your name, given in the name field, will not be published anywhere unless you let us (if you give your name elsewhere, e.g. in the public details section, it will be publicly available).
Will you send nasty, brutish spam to my email address?
    Never. We will email you if someone leaves an update on a problem you’ve reported, and send you a questionnaire email four weeks after you submit a problem, asking for a status update; we’ll only ever send you emails in relation to your problem.
How do I stop receiving emails from you?
    Every alert email we send contains an unsubscribe link at the bottom for you to stop receiving that alert. After the first questionnaire email on a report, mentioned above, you have to opt in to receive any further questionnaire on that report. </p>
</div>