<!-- Privacy decription -->
<div class="container">
	<h1>Politique de confidentalité - application Citizen </h1>
	<p class="lead">Le site respecte les termes de confidentialité appliqués par la loi suisse</p>
  	<h1>Qui a accès a vos données d'inscription</h1>
	<p>Vos données sont trictement confidentielles et ne sont en aucun cas transmis à des tiers</p>
	<p>Nous collectons certaines informations à caractère personnel en vue de vous permettre une fois identifié de retrouver tous vos signalements, et de nous donner la possibilité de vous informer du suivi de votre signalement.</p>
</div>