<!-- Formulary to declare an issue -->
<h1>Déclarer une issue</h1>
<form id="addIssue" class="col-md-2" name="issueForm">
	<div class="form-group">
		<label for="desc">Description</label>
		<textarea required type="text" id="desc" class="form-control" ng-model="issue.newIssue.description"></textarea>
	</div>
	<div class="form-group">
		<label for="image">Image</label>
		<input type="text" class="form-control" id="image" ng-model="issue.newIssue.imageUrl">
	</div>
	<div class="form-group">
		<label for="type">Type</label>
		<input required list="type" class="form-control" ng-model="issue.newIssue.issueTypeHref">
		<datalist id="type">
			<option value="{{ type.href }}" ng-repeat="type in issue.types">{{ type.description }}</option>
		</datalist>
	</div>
	<div class="form-group">
		<label for="desc">Mot(s) clé(s)</label>
		<textarea required type="text" id="tag" class="form-control" ng-model="issue.newIssue.tag"></textarea>
	</div>
	<button class="btn btn-error" ng-disabled="registerForm.$invalid" ng-click="issue.addIssue()">Déclarer un problème</button>
</form>
<div class="alert alert-danger" ng-if="register.error">
	{{register.error}}
</div>
<div id="map_layout" ng-controller="MapCtrl as map"><!--display map in foreground-->
	<leaflet width="100%" height="100vh" defaults="map.defaults" lf-center="map.center" markers="map.markers"></leaflet>
</div>